<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="../static/sy.css">
</head>
<body>
	<div class="container">
		<div class="main">
		<div class="sideleft">
        		</br></br></br>
                </br></br></br>
                </br></br></br>
                </br></br></br>
			</div>
			<div class="sideright">
            </br></br>
            </br></br>
			  <div class="index">
                </br></br>
                <h1><font color="#EE5B7C" size="+2"><center>欢迎进入电影票订票系统</center></font></h1>
                    </br>
					<form action="/register/">
                    <input type="submit" value="注册" class="btn" style="color:#CCC;font-family:黑体;font-size:18px;">
				    </form>
                    </br>
  				    <form action="/login/">
                    <input type="submit" value="登录" class="btn" style="color:#CCC;font-family:黑体;font-size:18px;">
                    </form>
                  </br></br>
                  </br></br>
				</div>
			</div>
		</div>
		</div>
	</div>
</body>
</html>


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>首页</title>#}
{#</head>#}
{#<body>#}
{#    <h2>欢迎来到电影订票系统！</h2>#}
{#    <form action="/register/">#}
{#        <button type="submit">注册</button>#}
{#    </form>#}
{#    <form action="/login/">#}
{#        <button type="submit">登录</button>#}
{#    </form>#}
{#</body>#}
{#</html>#}